body {
    background: black;
}

h1 {
    font-family: 'Kalam', cursive;
    font-size: 100px;
    text-align: center;
    color: pink;
}

p {
    font-family: Monospace;
    font-size: 38px;
    color: white;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

