body {
    background-color: #090A0A;
    color: white;
}

.heading {
    font-family: Acme;
    font-size: 175px;
    text-align: center;
    color: #fff;
    text-shadow:
        0 0 5px #fff;
        0 0 10px #fff;
        0 0 20px #fff;
        0 0 40px #0ff;
        0 0 8px #0ff;
        0 0 9px #0ff;
        0 0 100px #0ff;
        0 0 150px #0ff;
        
}

p {
    font-family: Monospace;
    font-size: 38px;
    text-align: center;
    margin: 20px;
    padding: 20px;
}
