body {
    background-color: #090A0A;
    color: white;
}

.heading {
    font-family: Acme;
    font-size: 175px;
    text-align: center;
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300 px #ff003c, 0 0 500px #ff003c;
    -webkit-animation: buzz 0.01s infinite alternate;
            animation: buzz 0.01s infinite alternate;
}

@-webkitkeyframes buzz {
    70% {
        opacity: 0.80;
    }
}

@keyframes buzz {
    70% {
        opacity: 0.80;
    }
}

@-webkit-keyframes blink {
    40% {
        opacity: 1;
    }
    42% {
        opacity: 0.8;
    }
    43% {
        opacity: 1;
    }
    45% {
        opacity: 0.2;
    }
    46% {
        opacity: 1;
    }
}

@keyframes blink {
    40% {
        opacity: 1;
    }
    42% {
        opacity: 0.8;
    }
    43% {
        opacity: 1;
    }
    45% {
        opacity: 0.2;
    }
    46% {
        opacity: 1;
    }
}

p {
    font-family: Monospace;
    font-size: 38px;
    text-align: center;
    margin: 20px;
    padding: 20px;
}
